.checkoutDetails {
  padding: 40px 70px;
  p {
    font-size: 15px;
  }
}
.checkoutHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  h2 {
    font-size: 20px;
  }
}
.checkoutProductDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}
.hr {
  margin: 20px 0;
}

.checkoutTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  p:nth-child(2) {
    color: #b88e2f;
    font-weight: bold;
    font-size: 20px;
  }
}
.checkoutBank {
  p:nth-child(2) {
    color: #9f9f9f;
  }

  .checkoutmode {
    p:nth-child(1) {
      color: #9f9f9f;
    }
    padding: 10px 0;
  }
}
.privacy {
  font-weight: bold;
}

.orderBtn {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 0.375rem;
  margin: 20px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .checkoutDetails {
    padding: 40px 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .checkoutDetails {
    padding: 40px 30px;
  }
}
