.formHead {
  font-size: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 40px 70px;

  div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  .formName {
    display: flex;
    flex-direction: row;
  }
  .last {
    padding: 10px 10px;
  }
  input {
    outline: none;
    height: 40px;
  }
  label {
    font-weight: bold;
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .formHead {
    font-size: 20px;
  }
  .form {
    padding: 40px 40px;
    .formName {
      display: flex;
      flex-direction: column;
    }
    .last {
      padding: 10px 0;
    }
  }
}
