.checkoutpage {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media only screen and (max-width: 900px) {
  .checkoutpage {
    grid-template-columns: 12fr;
  }
}
